.header{
    height: 70vh;
    padding: 0rem 6rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include respond(phone) {
        height: 35vh;
        gap: 0.5rem;
        padding: 0rem;
     }

    &__heading{
        font-size: 15rem;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 700;
        user-select: none;

        @include respond(phone) {
            font-size: 6rem;
            padding: 0rem 0.7rem;
            font-weight: 800;
         }
    }

    &__message{
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 700;
        user-select: none;

        @include respond(phone) {
            font-size: 2rem;
         }
    }

    &__title{
        font-size: 6rem;
        color: rgb(255, 255, 255);
        font-weight: 900;
        text-align: center;
        text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;

         @include respond(phone) {
            font-size: 2rem;
         }
    }

}