.login {
    background-color: var(--color-register);
    padding: 5rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;

    &_line {
        margin-top: 5rem;
        width: 120%;
        border-top: 1px solid #000;
        background-color: #000;
    }

    &_heading {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_button {
            width: 25rem;
            padding: 0.5rem;
            font-size: 1.5rem;
     
            margin-top: 1rem;
            box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);

            &_google {
                width: 25rem;
                padding: 0.5rem;
                font-size: 1.5rem;
                border: none;
                margin-top: 3rem;
                background-color: rgb(163, 163, 232);
                box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
            }

        }

        &_input {
            display: flex;
            flex-direction: column;
            align-items: center;
           

            label {
                margin-bottom: 0.5rem;
                font-size: 1.5rem;

            }

            input {
                width: 25rem;
                padding: 0.3rem;
                border-radius: 2%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: none;
                font-size: 1.5rem;
            }
        }
    }


}

.alert{
    font-size: 1.5rem;
}